// Utilities
.cursor-pointer {
  cursor: pointer;
}

.hover-opaciity-5:hover {
  opacity: 0.5;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}